<div class="row">
  <div class="col-md-8 col-md-offset-2 well">
    <legend>Categories</legend>
    <%= link_to "New Category", new_official_category_path %>
    <table class="table">
      <thead>
        <th>Name</th>        
        <th>Action</th>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
  </div>
</div>
