<div class="list-group">
    <a href="#" class="list-group-item">Category 1</a>
    <a href="#" class="list-group-item">Category 2</a>
    <a href="#" class="list-group-item">Category 3</a>
</div>

<div class="list-group">
    <a href="#" class="list-group-item">Branch 1</a>
    <a href="#" class="list-group-item">Branch 2</a>
    <a href="#" class="list-group-item">Branch 3</a>
</div>

<div class="list-group">
    <a href="#" class="list-group-item">Price 1</a>
    <a href="#" class="list-group-item">Price 2</a>
    <a href="#" class="list-group-item">Price 3</a>
</div>
