<%= render "shared/admin_page_header", title: "Store Logos" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 well">
    <%= link_to "<-Back", admin_store_logos_path %>
    <center><u><h3>New Logo</h3></u></center>
      <%= render "form", action: "Create" %>    
  </div>
</div>
