<%= link_to "New Product Type", new_official_product_type_path %>
<table class="table">
  <thead>
    <th>Name</th>
    <th>field count</th>      
    <th>Action</th>
  </thead>
  <tbody>
    <%= render @product_types %>    
  </tbody>
</table>
