@import "bootstrap";
@import "font-awesome";
#application{
  margin-top:4em;
  min-height: 475px;  
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.footer {
  color: white;
  background-color: rgb(51, 51, 51);
  padding: 3% 0 2% 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;    
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.selectwidthauto
{
     width:auto !important;
}

.message {
  margin-left: 5px;
  color: red;
  font-weight: normal;
}

#user-header{
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 7px;
  margin-bottom: 7px;
  .user-name{
    padding-left: 5px;
  }
}

.small_user_profile{
  width: 35px;
  height: 35px;
  border: 1px solid orange;
}

.user_profile{
  width: 200px;
  height: 200px;
}
