form, .socail {
  .fa-google-plus, .fa-google-plus-square {
    color: #dd4b39;
  }

  .fa-facebook, .fa-facebook-square {
    color: #3b5998;
  }

  .fa-twitter, .fa-twitter-square {
    color: #00aced;
  }

  .fa-linkedin, .fa-linkedin-square {
    color: #007bb6;
  }
  
  .fa-phone, .fa-phone-square {
    color: #68FF00;
  }

  .fa-globe {
    color: blue;
  }

  .fa-map-marker{
    color: #DB4A3F;
  }
}
