<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#user-bar"> 
        <i class="glyphicon glyphicon-user"></i>
      </button>      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-bar">
        <i class="glyphicon glyphicon-search"></i>      
      </button>
      <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#my-header-form">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">MyStore</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="my-header-form">
      <ul class="nav navbar-nav">
          <li>
            <%= link_to "All Store", "#" %>
          </li>
          <li>
      </ul>
    </div><!-- /.navbar-collapse --> 
<!-- 
    <div class="collapse navbar-collapse" id="search-bar">
      <ul class="nav navbar-nav">
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="user-bar">
      <ul class="nav navbar-nav navbar-right">
          Sign In
      </ul>
    </div>
  </div>--><!-- /.container-fluid --> 

</nav>
